.OrdersAdded {
  padding: 64px 0 32px;
}

.OrdersAdded__empty {
  border: 1px dashed #c4c4c4;
  padding: 32px;
}

.OrdersAdded__empty-text {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 20px;
    margin-right: 8px;
  }
}

.OrdersAdded__add{
    opacity: .5;
    margin: 32px auto 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:hover{
        opacity: .8;
    }
}

.OrdersAdded__add__image{
    width: 30px;
    margin-bottom: 16px;
}