.CreateOrder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CreateOrder__main-image {
  width: 500px;
  margin: 50px 0;
}

.CreateOrder__form {
  width: 400px;
}

.CreateOrder__subtitle {
  margin: 30px 0 50px;
  text-align: center;
}

.CreateOrder__item {
  margin-bottom: 50px;
}

.CreateOrder__item__title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.CreateOrder__button-group {
  display: flex;
  justify-content: space-between;
}

.CreateOrder__input {
  width: 190px;
}

.CreateOrder__price-group {
  display: flex;
}

.CreateOrder__input--price {
  width: 98px;
}

.CreateOrder__input--small {
  width: 45px;
}

.CreateOrder__recipient {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipient__name {
  font-weight: 500;
  font-size: 12px;
}

.recipient__status {
  display: flex;
  align-items: center;
  margin-top: 8px;
  color: #3cdc58;
  font-size: 10px;
  font-weight: 500;

  img {
    width: 15px;
    margin-right: 4px;
  }
}

.CreateOrder__button--link {
  float: right;
}

.CreateOrder__declaration {
  position: relative;
}

.CreateOrder__declaration + .CreateOrder__declaration {
  margin-top: 32px;
}

.CreateOrder__declaration__delete {
  position: absolute;
  left: calc(100% + 16px);
  width: 16px;
  top: 32px;
  opacity: .5;

  &:hover{
    opacity: 1;
  }
}
