@import './variables';

.text--error {
  color: $danger;
  margin-bottom: 8px;
}

.info-banner {
  text-align: center;
}

.text--warning {
  color: $warning;
}

.text--center {
  text-align: center;
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
}

.text--bold{
  font-weight: 600;
}