@import 'variables';
@import 'fonts';
@import 'reset';
@import 'normalize';
@import 'layout';
@import 'buttons';
@import 'texts';
@import 'inputs';
@import 'form';
@import 'table';

.main {
  width: 1120px;
  margin: 50px auto 50px;
  position: relative;
}

.page-title {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  width: 100%;
}
