.OrdersAside {
  width: 160px;
  border: 1px solid #c4c4c4;
  border-top: none;
  min-height: 100vh;
  height: 100%;
  top: -50px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  position: relative;
}

.OrdersAside__status {
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  width: 100%;

  &::after {
    content: '';
    width: 9px;
    height: 40px;
    background-color: #ff6d6d;
    position: absolute;
    top: 10px;
    right: -4px;
    border-radius: 1px;
    display: none;
  }

  &::before {
    content: '';
    width: 9px;
    height: 9px;
    transform: rotate(45deg);
    position: absolute;
    right: 0px;
    top: 26px;
    background-color: #ff6d6d;
    display: none;
  }
}

.OrdersAside__status--active {
  &::after {
    display: block;
  }

  &::before {
    display: block;
  }
}

.OrdersAside__status__image {
  width: 60px;
  height: 60px;
  background-color: #ff6d6d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 8px;
  padding: 20px;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.OrdersAside__status__text {
  font-size: 12px;
  font-weight: 600;
  color: #ff6d6d;
}

.OrdersAside__status__info{
    position: absolute;
    background-color: #3CDC54;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5px;
    right: -5px;
    border: 3px solid #fff;
}

.OrdersAside__status--onstorage {
  &::after {
    background-color: #11c6ee;
  }

  &::before {
    background-color: #11c6ee;
  }
}

.OrdersAside__status__image--onstorage {
  background-color: #11c6ee;
}

.OrdersAside__status__text--onstorage {
  color: #11c6ee;
}

.OrdersAside__status--onway {
  &::after {
    background-color: #02858d;
  }

  &::before {
    background-color: #02858d;
  }
}

.OrdersAside__status__image--onway {
  background-color: #02858d;
}

.OrdersAside__status__text--onway {
  color: #02858d;
}

.OrdersAside__status--ready {
  &::after {
    background-color: #db9090;
  }

  &::before {
    background-color: #db9090;
  }
}

.OrdersAside__status__image--ready {
  background-color: #db9090;
}

.OrdersAside__status__text--ready {
  color: #db9090;
}

.OrdersAside__status--ondelivery {
  &::after {
    background-color: #f0b446;
  }

  &::before {
    background-color: #f0b446;
  }
}

.OrdersAside__status__image--ondelivery {
  background-color: #f0b446;
}

.OrdersAside__status__text--ondelivery {
  color: #f0b446;
}

.OrdersAside__status--delivered {
  &::after {
    background-color: #3cdc58;
  }

  &::before {
    background-color: #3cdc58;
  }
}

.OrdersAside__status__image--delivered {
  background-color: #3cdc58;
}

.OrdersAside__status__text--delivered {
  color: #3cdc58;
}
